/*Fonts Import*/
@import url(fonts/gotham/gotham.css);

/*Basic css*/
* {
    /*    color: #000;*/
}

img {
    vertical-align: middle;
}

ul,
li {
    list-style-type: none;
}


/*Header Part Start*/

#header {
    /* background: url(../images/head-bg.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-menu {
    padding-top: 40px;
}

.main-menu {
    text-align: center;
}

.menu li a {
    padding-left: 60px;
    font-family: 'Gotham Rounded';
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.logo {
    padding: 0px 35px 0px 95px;
}

.head-content {
    padding: 220px 0px;
}

.head-content h2 {
    font-family: 'Gotham Rounded';
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.head-content h3 {
    font-family: 'Gotham Rounded';
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

button.head {
    padding: 10px 30px;
    background: #16a085;
    border: none;
    border-radius: 5px;
    font-family: 'Gotham Rounded';
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 25px;
    cursor: pointer;
    transition: all linear 0.3s;
}

button.head:hover {
    color: #000;
    background: #1abc9c;
    box-shadow: 0 0 10px 2px #fff;
}

.head-social {
    padding: 20px 0px;
}

.head-social ul li {
    display: inline-block;
}

.head-social ul li a {
    padding: 0px 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

/*Header Part Start*/


/*Slider PArt Start*/
#photoapp {
    padding: 100px 0px 0px 0px;
    background: #f5f6f7;
}

.sr-captions h5 {
    font-family: 'Gotham Rounded';
    font-size: 18px;
    font-weight: 700;
    color: #16a085;
    text-transform: uppercase;
    padding-bottom: 45px;
}

.sr-captions h5 span {
    display: block;
    color: #16a085;
}

.sr-captions p {
    font-family: 'Gotham Rounded';
    font-size: 12px;
    font-weight: 200;
    margin: 0;
    line-height: 25px;
}

button.slider {
    margin-left: 10px;
    padding: 10px 30px;
    background: #16a085;
    border: none;
    border-radius: 5px;
    font-family: 'Gotham Rounded';
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 25px;
    cursor: pointer;
    transition: all linear 0.3s;
}

button.slider:hover {
    color: #000;
    background: #1abc9c;
    box-shadow: 0 0 10px 2px #000;
}



/*photoPP PArt End*/

/*design Part Start*/
#design {
    padding: 150px 0px;

}

.slider-iteam {
    width: 100%;
    display: flex;
}

.carousel-captions {
    width: 48%
}

.slider-img {
    width: 48%;
}

.carousel-item {
    height: 400px;
}

.carousel-captions {
    padding-left: 200px;
}

.carousel-captions h5 {
    font-family: 'Gotham Rounded';
    font-size: 18px;
    font-weight: 700;
    color: #16a085;
    text-transform: uppercase;
    padding-bottom: 45px;
}

.carousel-captions h5 span {
    display: block;
    color: #16a085;
}

.carousel-captions p {
    font-family: 'Gotham Rounded';
    font-size: 12px;
    font-weight: 200;
    margin: 0;
    line-height: 25px;
}




.carousel-indicators {
    position: absolute;
    left: 47%;
    bottom: 95px;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: #16a085;
}

.carousel-indicators .active {
    background-color: #7538ff;
}






.controlsBlock {
    position: relative;
    bottom: -6%;
    left: 261px;
    top: -60px;
    display: block;
    width: 175px;
    margin: 0 auto;
    z-index: 1;
    height: 25px;
    text-align: center;
}

.controls {
    position: relative;
    display: block;
}

.carousel-control {
    position: absolute;
    top: 25.5px;
    bottom: 0;
    left: 0;
    background: #000000;
    font-size: 5px;
    background: none !important;
    color: #000 !important;
    text-align: center;
}

.carousel-control i {
    font-size: 20px;
}

.carousel-control.left {
    left: 0;

}

.carousel-control.right {
    right: 0;

}

.carousel-control:hover,
.carousel-control:focus {
    color: #000;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    z-index: 5;
    display: inline-block;
}

.carousel-control .glyphicon-chevron-left {
    left: 0;
}

.carousel-control .glyphicon-chevron-right {
    right: 0;
}

.carousel-control-next {
    background: red;
}

.carousel-control-next-icon {
    /* background-image: url(../images/icon/next.svg); */
}

.carousel-control-prev-icon {
    /* background-image: url(../images/icon/prev.svg); */
}

/*Design part end*/


/*Community PArt Start*/
#comminuty {
    padding: 100px 0px;
    background: #f5f6f7;

}

.owl-nav {
    position: absolute;
    top: -48px;
    right: 10px;
}

.comm-content h2 {
    font-family: 'Gotham Rounded';
    font-size: 16px;
    font-weight: 700;
    padding-top: 20px;
}

.comm-content p {
    font-family: 'Gotham Rounded';
    font-size: 10px;
    font-weight: 400;
    padding: 5px 110px;
}

/*Community PArt End*/


/*Subscribe PArt STart*/
#subscribe {
    /* background: url(../images/subs-bg.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.subs-overly {
    position: absolute;
    background: #0000009e;
    width: 100%;
    height: 100%;
}

.main-subs {
    padding: 300px 0px
}

.main-subs h2 {
    font-family: 'Gotham Rounded';
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.input-box {
    width: 350px;
    margin: 0 auto;
}

.input-group-text {
    background-color: #16a085;
    border: none;
    padding: 1rem 1rem;
    font-size: 30px;
    color: #fff;
}

/*Subscribe PArt End*/


/*DOwnload Part Strat*/
#download {
    padding: 90px 130px;
}

.download-head {}

.dlod-btn {
    margin: 0 auto;
    padding-top: 30px;
}

.app-btn {
    background: #1abc9c;
    padding: 15px 0px 15px 35px;
    font-family: 'Gotham Rounded';
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-right: 30px;
    transition: all linear 0.2s;
    border-radius: 5px;
}

span.ico {
    background: #16a085;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 5px;
}

a.app-btn {
    text-decoration: none;
}


a.app-btn:hover {
    color: #fff;
}

a.app-btn:hover span.ico {
    background: #1abc9c;
    transition: all linear 0.2s;
}

a.app-btn:hover {
    background: #16a085;
    transition: all linear 0.2s;
}

/*DOwnload Part Strat*/



/*Footer Part Start*/
#footer {
    padding-bottom: 30px;
}

.foot-menu ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

.foot-menu ul li {
    display: inline-block;
}

.foot-menu ul li a {
    text-decoration: none;
    padding-right: 30px;
    font-family: 'Gotham Rounded';
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
}

.foot-credit {
    padding-top: 25px;
    font-family: 'Gotham Rounded';
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.design-by {
    font-family: 'Gotham Rounded';
    font-size: 14px;
    font-weight: 300;
    color: #000;
    text-transform: uppercase;
}

.design-by a {
    font-family: 'Gotham Rounded';
    font-size: 16px;
    font-weight: 500;
    color: #888;
    text-transform: uppercase;
    text-decoration: none;
}

.design-by a:hover {
    font-family: 'Gotham Rounded';
    font-weight: 900;
    color: #888888;
    padding-top: 3px;
}

/*Footer Part End*/